body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  margin: 0;
}

form {
  text-align: center;
  color: rgb(199, 178, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(1.jpg);
  background-repeat: no-repeat;
}

input {
  background-color: #9dbadb;
  opacity: .3;
}

input:hover,
input:focus {
  opacity: 1;
}

select {
  background-color: #9dbadb;
  opacity: .3;
}

select:hover,
select:focus {
  opacity: 1;
}

textarea {
  width: 80%;
  margin: 5px 20px;
  background: #4a89d1;
  opacity: .3;
}

textarea:hover {
  opacity: 1;
}

input[type=text]:focus {
  background-color: rgb(138, 82, 211);
  outline: none;
}

input[type=password]:focus {
  background-color: rgb(51, 138, 80);
  outline: none;
}

div {
  padding: 10px 0;
}

hr {
  border: 1px solid #8fb9b2;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #cc3a5f;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: .5;
}

.registerbtn:hover {
  opacity: .9;
}